//Colors
$bgColor:#e7edf3;
$bgColor1: #2e2e2e;
$MainColor:#514c76;
$whiteColor:#ffffff;
$YellowColor:#f7cc48;
$mainTextColor:#404040;
$mainLightTextColor:#777777;
$headingcolor:#919090;
$lightGrey:#737373;
$textColor:#888787;

//Fonts
$primary_font: 'Roboto';
$primary_medium_font: 'Roboto-Medium';
$primary_light_font: 'Roboto-Light';


